node_modules
.env
dist
**/.cache/*.ts
!jest.config.js
*.d.ts

**/data

cdk.context.json

# nextjs and sst
.next
.sst
!.sst/types/index.ts
!sst-env.d.ts
.open-next
.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out/
cdk.context.json

# PEM
*.pem
