name: Code Review GPT CI

on:
  pull_request:
    branches: [main]

permissions:
  pull-requests: write
  contents: read

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      BASE_SHA: ${{ github.event.pull_request.base.sha }}
      GITHUB_SHA: ${{ github.sha }}
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      CLOUDFLARE_WORKER_HEALTH_URL: ${{ secrets.CLOUDFLARE_WORKER_HEALTH_URL }}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "npm"
      - run: npm ci

      - name: Build
        run: npm run build

      - name: Run code review script
        run: npm run start -- --ci=github --model=gpt-3.5-turbo

      - name: Run unit tests
        run: npm run test-unit
      
      - name: Run integration tests
        run: npm run test-integ

      - name: Run prompt tests
        run: npm run test -- --ci=github --model=gpt-3.5-turbo
